header {
    text-align: center;
    color: blue;
    font-size: 44px;
    /* background-color: brown; */
}

img {
    width: 30px;
    height: auto;
}

nav {
    margin-top:30px;
    /* background-color: aqua; */
}

#text1 h2 {
    text-decoration: underline;
}
#text2 h2 {
    text-decoration: underline;
}

footer {
    margin-top: 30px;
}