header {
    text-align: center;
    font-size:xx-large;
    text-decoration:underline;
    text-decoration-color: black;
    font-style:normal;
    color: darkred;
}

#enquiry {
    margin-top:30px;
}