#title {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    padding-bottom: 10px;
    margin-top: 50px;
    text-decoration:underline;
}

.nav-link {
    color:orange;
    background-color:cornflowerblue ;

}

.nav-link:hover {
    background-color:blue;
}

main {
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
