body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f4f4f9 ;
    margin: 0;
    width: 95%;
}

header {
    text-align: center;
    /* background-color: aqua; */
    margin-top:20px;
}

header h1 {
    /* background-color: blue; */
    margin-bottom: 10px;
}

header p{
    color: #555;
}

section {
    margin-bottom: 30px;
    border-radius: 8px;
    /* background-color: #fff; */
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.1) ;
}

section h2 {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 90px;
}

section p,ul {
    padding-left: 90px;
    font-size: 0.95rem;

}
section ul {
    margin-top: 0;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}




@media (max-width:768px){

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f4f4f9 ;
    margin: 0;
    width: 95%;
}

header {
    text-align: center;
    /* background-color: aqua; */
    margin-top:20px;
}

header h1 {
    /* background-color: blue; */
    margin-bottom: 10px;
}

header p{
    color: #555;
}

section {
    margin-bottom: 30px;
    /* background-color: #fff; */
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: left;
}

section p,ul {
    padding-left: o;
    font-size: 0.95rem;

}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}

}

